*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: white;
    color: #1e293b;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    border-bottom: 1px solid #e2e8f0;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 15px;
}

.hamburger{
    font-size: 20px;
    cursor: pointer;
}

.logo{height: 28px;}

.nav-links a{margin-left: 12px;margin-right: 12px;
text-decoration: none;
color:#64748b;
font-weight:500;
}

.nav-links a.active,
.nav-links a:hover{color: #2563eb;}

.nav-auth button{
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    font-weight:500;
    cursor: pointer;
}

.btn-signin{
    background-color: transparent;
    color:#475569;
}

.btn-signup{
    background-color: #2563eb;
    color: #ffffff;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
    background-color: #ffffff;
    border-bottom:1px solid#e2e8f0 ;
}
.hero-text{max-width: 550px;}

.hero-text h1{
    font-size: 36px;
    margin-bottom: 15px;
}

.hero-text h1 span{
    color: #2563eb;
}

.hero-text p{
    color:#64748b;
    margin-bottom: 20px;
    line-height: 1.5;
}

.hero-btns button{
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-right: 10px;
}

.btn-primary{background-color: #2563eb;
color: #ffffff;}

.btn-secondary{
    background-color: #e2e8f0;
    color: #334155;
}

.hero-img img{
    max-width: 380px;
}